.index {
  position: absolute;
  right: 0;
  width: 300px;
  height: 100%;
  background: white;
}

.index-enter {
  animation-duration: .5s;
  animation-name: indexShow;
}

.index-leave {
  animation-duration: .5s;
  animation-name: indexClose;
}

@keyframes indexShow {
  from {transform: translate3d(100%, 0, 0);}
  to {transform: translate3d(0, 0, 0);}
}

@keyframes indexClose {
  from {transform: translate3d(0, 0, 0);}
  to {transform: translate3d(100%, 0, 0);}
}

.index-event {
  border: solid 1px black;
}
/*
.date {
  font-size: 20px;
  animation-duration: .5s;
  animation-name: dateHeaderFade;
}

@keyframes dateHeaderFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
